services:
	# Jobs queue
	jobs: Spiral\RoadRunner\Jobs\Jobs(@rpc)
	queue:
		type: Spiral\RoadRunner\Jobs\Queue
		create: @jobs::connect(%jobs.queue%)
	taskProducer: App\Services\TaskProducer(@queue)

	# Jobs tasks
	task.factory.create: App\Tasks\Factory\CreateFactory
	task.factory.update: App\Tasks\Factory\UpdateFactory
	task.factory.delete: App\Tasks\Factory\DeleteFactory