includes:
	- vendor/lsr/core/migrations.neon
tables:
	page_info:
		order: 0
		definition: '''
    		(
    			`key` varchar(30) NOT NULL DEFAULT '',
    			`value` BLOB DEFAULT NULL,
    			PRIMARY KEY (`key`)
    		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
    		'''
		modifications:
			0.1:
				- 'CHANGE `value` `value` BLOB DEFAULT NULL;'