includes:
	- jobs.neon
	- roadrunner.neon
	- console.neon
	- symfony.neon
	- neo4j.neon
	- eventStore.neon
	- secret.neon
extensions:
	caching: Nette\Bridges\CacheDI\CacheExtension(%constants.tempDir%)
	decorator: Nette\DI\Extensions\DecoratorExtension
	inject: Nette\DI\Extensions\InjectExtension
parameters:
	routing:
		routeFiles:
			- %constants.appDir%routes
		controllers:
			- %constants.appDir%src/Controllers
	redis:
		host: redis
services:
	translations:
		create: Lsr\Core\Translations
		arguments:
			config: @config
			defaultLang: 'en_US'
			supportedLanguages:
				- 'en_US'
				- 'cs_CZ'
	redis:
		create: \Redis
		setup:
			- connect(%redis.host%)

	caching.journal: Lsr\Core\Caching\RedisJournal(@redis)
	cache.storage: Lsr\Core\Caching\RedisStorage(@redis, '', @caching.journal)
	cache: Lsr\Core\Caching\Cache(@cache.storage, null, %constants.debug%)

	provider.connection: App\Services\Provider\ConnectionProvider
	provider.factory: App\Services\Provider\FactoryProvider
	provider.material: App\Services\Provider\MaterialProvider

decorator:
	Lsr\Core\Controllers\Controller:
		inject: true